/* mapping yui-fonts px and % */
$f10px: 77%;
$f11px: 85%;
$f12px: 93%;
$f13px: 100%;
$f14px: 108%;
$f15px: 116%;
$f16px: 123.1%;
$f17px: 131%;
$f18px: 138.5%;
$f19px: 146.5%;
$f20px: 153.9%;
$f21px: 161.6%;
$f22px: 167%;
$f23px: 174%;
$f24px: 182%;
$f25px: 189%;
$f26px: 197%;
